{% extends 'base.html' %}
{% load static %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
  <h1 style="text-align: center">
    Об авторе проекта
  </h1>
  <p style="text-indent:25px; ">
    Привет, меня зовут Антон, мне 33 года и я пытаюсь освоить бэкенд-разработку на Python.
    Ещё с малых лет я увлекался компьютерами и всем, что с ними было связано.
    В школьные годы, едва ли не с раскрытым ртом посещал кабинет информатики, 
    искренне востаргаясь, этими до ужаса удивительными "машинами". 
    Тогда они мне казались чем-то космическим, не от мира сего, и обладали крайне притягательной силой.
    Первый собственный компьютер у меня появился лет в 14, а несколькими днями позже и книга "Windows 98 для чайников".
    Со временем получилось довольно неплохо разобраться что и как в нём устроено,
    что позволило в дальнейшем помогать с починкой и решением софтовых проблем у друзей и соседей.
    Позже развернул локальную сеть из числа своих друзей, что жили рядом. 
    Интернета тогда ещё толкового не было, все сидели на dial-up модемах. 
    Несколько мегабайт на скачку казалось практически непосильным объёмом, 
    а если кто-то снимет телефонную трубку - пиши пропало. Весёлое было время. 
    В дальнейшем мои увлечения так и остались лишь увлечением, работал совершенно в иных сферах, 
    но продолжал с огромным интересом и удовольствием следить за it-новостями. 
    В последние годы, с развитием интернета, на его просторах стало появляться
    огромное кол-во материалов для самообучения. Тогда то я и решил попробовать
    пробиться в it. Начал самостоятельно изучать C++, но тогда я даже не представлял
    насколько наивным было моё решение. Помню как над одной маленькой темой просидел 
    больше недели в попытках хоть как-то в ней разобраться. Мне уже даже начали сниться 
    сны, связанные с обучением. В итоге, так и не прийдя к какому-либо пониманию темы, 
    я отложил это дело в долгий ящик. И вот спустя пару лет, решил вернуться к изучению
    программирования, сменя язык и подход к обучению. И даже в таком ключе это крайне 
    нелёгкая задачка для меня. Однако, я твёрдо для себя решил идти до конца. Надеюсь 
    эта тропа приведёт меня в правильное для меня место.
  </p>
  <p>
    P.s. Очень хочеться сверстать красивую страницу, но времени крайне мало, 
    дедлайн не за горами) Обязательно вернусь к этому позже.
  </p>
  <p>
    <strong><article>Мои контакты:</article></strong>
    <ul>
      <li>
        VK: <a href="https://vk.com/uncha1ned">https://vk.com/uncha1ned</a>
      </li>
      <li>
        Instagram: <a href="https://www.instagram.com/fatal_klg">https://www.instagram.com/fatal_klg</a>
      </li>
    </ul>
    <p>
      <i>Мой источник сил на учёбу)</i></br>
      <img src="{% static 'img/IMG_1.jpg' %}"" width="200" height="300" align="middle" alt="">
    </p>
  </p>
{% endblock %}
