{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      С освоением всех необходимых инструментов пока что, мягко говоря,
      нелегко. Как и в любом другом начинании, находить взаимосвязи разрозненных
      элементов - та ещё задачка. Но когда удаётся всё-таки их разглядеть и 
      начинает получаться писать код осмысленно, а не пальцем в небо, это 
      чувство дорогого стоит)
    </p>
  </article>
</div>
{% endblock %}